$brand-primary:         #404040 !default;
$brand-success:         #04BF9D !default;
$brand-info:            #34D0CA !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #F53D54 !default;
$brand-dark:    #404040 !default;


//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fbfbff !default;
//** Global text color on `<body>`.
$text-color:            $brand-dark !default;
